body {
  background-color: red($color: #000000);
}

a {
  color: blue;
}

p {
  padding: 1px;
}

/*Seletores*/
nav {
  width: 100%;
  background: #000;

  ul {
    list-style: none;
  }

  li {
    color: #fff;
    display: inline-block;
  }

  .btn {
    color: blue;
    align-items: center;
  }
  font: {
    family: "Times New Roman";
    style: italic;
    size: 30px;
    weight: bold;
  }
}
/*Propriedades aninhadas*/
/*font: {
    family: "Times New Roman";
    style: italic;
    size: 30px;
    weight: bold;
  }
*/

/*pseudo-elements*/
a {
  color: #ffa;
  &:hover {
    color: blue;
  }
}

/*variáveis*/
$width: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color: #fff;
$border-style: solid 1px $color;

div {
  background: $background;
  color: $color;
  width: $width;
  font-size: $font-size;
}

$width-rem: 3.5rem;
$width-px: 300px;
$width: 300;
$font: "Lucida Grande";
$weight: bold;

$bg: red;
$bg-section: rgba(0, 0, 0, 0.7);
$font-color: #ffff;

div {
  .abc {
    width: $width-rem;
  }
  .def {
    font: {
      family: $font;
      weight: $weight;
    }
  }
  .ghi {
    background-color: $bg;
    color: $font-color;
  }
  .jkl {
    background-color: $bg-section;
  }
}

/*Interpolacao*/

$name: destaque;
$attr: border;

p.#{$name} {
  #{$attr}-color: blue;
}

p {
  .ab {
    $font-size: 12px;
    $lin-height: 30px;
    font: #{$font-size}/#{$lin-height};
  }
}

/* Extends , uso dos atributos das outras classes */

/*Classe*/
.msg {
  border: 1px solid;
  padding: 4px;
  text-align: center;
}

/*Herdando atributos da classe */
.msg-error {
  @extend .msg;
  border-color: white;
  color: black;
}

/* Hover */

a:hover {
  text-decoration: underline;
}

.hoverlink {
  @extend a:hover;
  color: black;
}

/*class*/

.error {
  border: 1px #f00;
  background-color: #fdd;
}
.attention {
  font-size: 3em;
  background-color: #ff0;
}

.seriousError {
  @extend .error;
  @extend .attention;
  border-width: 3px;
}
